@model Entities.Concrete.Heading


@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Başlık Ekle</h4>
            <br />
            <br />

            @using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
            {


                <div class="form-group">
                    <label>Başlık Adı</label>
                    @Html.TextBoxFor(m => m.HeadingName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.HeadingName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Kategori Seç</label>
                    @Html.DropDownListFor(m => m.Category.CategoryID, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Yazar Seç</label>
                    @Html.DropDownListFor(m => m.Writer.WriterID, (List<SelectListItem>)ViewBag.writers, new { @class = "form-control" })
                </div>


                <button class="btn btn-success">Ekle</button>


            }


        </div>
    </div>
</div>

