@model WriterProject.Models.WriterViewModel

@{
    Layout = null;
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}

<!doctype html>
<html lang="en">
<head>
    <title>Yazar Kayıt Sayfası</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login-form-20/login-form-20/css/style.css">

    <link rel="shortcut icon" href="~/AdminLTE-3.0.4/dist/img/ccc.png" />

</head>
<body class="img js-fullheight" style="background-image: url(/login-form-20/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Yazar Kayıt</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">

                        @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="form-group">
                                <label>Yazar Adı</label>
                                @Html.TextBoxFor(m => m.WriterName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.WriterName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Yazar Soyadı</label>
                                @Html.TextBoxFor(m => m.WriterSurName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.WriterSurName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Yazar E-posta Adresi</label>
                                @Html.TextBoxFor(m => m.WriterMail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.WriterMail, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Yazar Şifresi</label>
                                @Html.PasswordFor(m => m.WriterPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.WriterPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label>Yazar Açıklaması</label>
                                @Html.TextAreaFor(m => m.WriterDescription, 6, 8, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.WriterDescription, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                <label>Yazar Resimini Seç</label>
                                @Html.TextBoxFor(m => m.Image, new { type = "file", @required = "required" })

                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Oluştur</button>
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login-form-20/login-form-20js/jquery.min.js"></script>
    <script src="~/login-form-20/login-form-20js/popper.js"></script>
    <script src="~/login-form-20/login-form-20js/bootstrap.min.js"></script>
    <script src="~/login-form-20/login-form-20js/main.js"></script>

</body>
</html>


