@model WriterProject.Models.WriterLoginViewModel

@{
    Layout = null;
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}

<!doctype html>
<html lang="en">
<head>
    <title>Yazar Giriş Sayfası</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login-form-20/login-form-20/css/style.css">

    <link rel="shortcut icon" href="~/AdminLTE-3.0.4/dist/img/ccc.png" />

</head>
<body class="img js-fullheight" style="background-image: url(/login-form-20/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Yazar Girişi</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">

                        @using (Html.BeginForm("WriterLogin", "Login", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.WriterMail, new { @class = "form-control", @placeholder = "E-posta"})
                                @Html.ValidationMessageFor(m => m.WriterMail, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.PasswordFor(m => m.WriterPassword, new { @class = "form-control", @placeholder = "Şifre" })
                                @Html.ValidationMessageFor(m => m.WriterPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Giriş Yap</button>
                            </div>
                        }

                        <div class="form-group d-md-flex">
                            <div class="w-50">

                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#" style="color: #ffffff">Şifreni mi unuttun?</a>
                            </div>
                        </div>

                        <h4 class="mb-4 text-center" style="color: #ffffff" >Bir hesabın yok mu?</h4>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login-form-20/login-form-20js/jquery.min.js"></script>
    <script src="~/login-form-20/login-form-20js/popper.js"></script>
    <script src="~/login-form-20/login-form-20js/bootstrap.min.js"></script>
    <script src="~/login-form-20/login-form-20js/main.js"></script>

</body>
</html>


