@using Entities.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Heading>


@{
    ViewBag.Title = "WriterHeadings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Başlıklar</h3>


            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Kategori</th>
                            <th>Yazar</th>
                            <th>Bu başlıkla açılmış içerikler</th>
                   


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.HeadingID</td>
                                <td>@item.HeadingName</td>
                                <td>@item.HeadingDate</td>
                                <td>@item.Category.CategoryName</td>
                                <td><img src="@item.Writer.WriterImage" alt="User Avatar" class="img-size-50 mr-3 img-circle"> @item.Writer.WriterName @item.Writer.WriterSurName</td>

                                <td><a href="/Content/ContentByHeader/@item.HeadingID" class="btn btn-info">Başlık İçeriklere Bak</a></td>
                        


                            </tr>

                        }
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("WriterHeadings", new { page }), new PagedListRenderOptions
{

    LiElementClasses = new List<String> { "page-link" }

})





