@using Entities.Concrete
@model List<Heading>

<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">@ViewBag.headingCount</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">Toplam @ViewBag.headingCount Başlık</span>
        @foreach (var item in Model)
        {
        <div class="dropdown-divider"></div>
        <a href="/WriterPanelContent/ContentByHeader/@item.HeadingID" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> @item.HeadingName / @item.Category.CategoryName
            <span class="float-right text-muted text-sm">@item.HeadingDate</span>
        </a>
        }
        <a href="/WriterPanel/AllHeadings/" class="dropdown-item dropdown-footer">Tüm başlıkları Gör</a>
    </div>
</li>
