@using Entities.Concrete
@model List<Contact>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Mesaj İşlemleri</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->

    <section class="content">
        <div class="row">

            @Html.Action("MessagePartial","Contact")

            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Gelen İletişim Mesajları</h3>
                        <div class="card-tools">
                         
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                     
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                <a class="btn btn-default btn-sm" href="/Contact/DeleteContact/@item.ContactID">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </td>

                                            <td class="mailbox-name"><a>@item.UserName</a></td>
                                            <td class="mailbox-subject">
                                                <b>@item.Subject</b> -

                                                @if (item.Message.Length > 20)
                                                {
                                                    <p> @item.Message.Substring(0, 20)...</p>
                                                }
                                                else
                                                {
                                                    <p> @item.Message </p>
                                                }

                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">@item.Date</td>

                                            <td>
                                                <a  class="btn btn-default btn-sm" href="/Contact/GetContactDetails/@item.ContactID">Detaya Git</a>
                                            </td>

                                        </tr>
                                         }
                                    </tbody>
                                    </table>
                                    <!-- /.table -->
                                </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer p-0">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            
                            <div class="float-right">
                                1-50/200
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.float-right -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>



</body>
</html>

